#app {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
#app .content {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
#app .content .main_content {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
#app .content .main_content.on {
  display: block;
}
#app .msite_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #02a774;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  z-index: 200;
}
#app .msite_header >a {
  color: #fff;
}
#app .msite_header >a .header_login_text {
  font-size: 12px;
}
.msite_nav {
  position: relative;
  margin-top: 45px;
  height: 200px;
  background: #fff;
}
.msite_nav::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  transform: scaleY(0.5);
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .msite_nav::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .msite_nav::before {
    transform: scaleY(0.333333);
  }
}
.msite_nav .swiper-container {
  width: 100%;
  height: 100%;
}
.msite_nav .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.msite_nav .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food {
  width: 25%;
}
.msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food .food_container {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 0;
}
.msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food .food_container img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #666;
}
.msite_nav .swiper-container .swiper-pagination >span.swiper-pagination-bullet-active {
  background: #02a774;
}
.main_container {
  width: 100%;
  margin-top: 10px;
  background: #fff;
}
.main_container .main_item {
  margin: 10px;
}
.main_container .main_item .xuanxiang {
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main_container .main_item .xuanxiang .iconfont {
  font-size: 30px;
}
.main_container .main_item .xuanxiang_detail {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
}
.main_container .main_item .xuanxiang_detail .item_xuanxiang {
  display: block;
  width: 100%;
}
.main_container .main_item .xuanxiang_detail .photo {
  width: 20%;
  float: left;
}
.main_container .main_item .xuanxiang_detail .photo >img {
  width: 100%;
}
.main_container .main_item .xuanxiang_detail .describe {
  float: right;
  width: 78%;
  font-size: 12px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}
.main_container .main_item .xuanxiang_detail .describe .detail .pinpai_left {
  float: left;
}
.main_container .main_item .xuanxiang_detail .describe .detail .pinpai_left .pinpai {
  background: #ff0;
}
.main_container .main_item .xuanxiang_detail .describe .detail .pinpai_left .pinpai_content {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.main_container .main_item .xuanxiang_detail .describe .detail .pinpai_right {
  float: right;
}
.main_container .main_item .xuanxiang_detail .describe .detail .pinpai_right >span {
  font-size: 10px;
  border: 1px solid #ddd;
}
.main_container .main_item .xuanxiang_detail .describe .start {
  font-size: 12px;
  transform: scaleY(0.7);
  margin: 10px 0;
}
.main_container .main_item .xuanxiang_detail .describe .start .start_left {
  float: left;
}
.main_container .main_item .xuanxiang_detail .describe .start .start_left >img {
  width: 10px;
  height: 10px;
}
.main_container .main_item .xuanxiang_detail .describe .start .start_right {
  float: right;
}
.main_container .main_item .xuanxiang_detail .describe .start .start_right :nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 10px;
  padding: 3px;
  background: #008000;
  color: #fff;
}
.main_container .main_item .xuanxiang_detail .describe .start .start_right :nth-child(2) {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 10px;
  padding: 3px;
  color: #008000;
  border: 1px solid #008000;
}
.main_container .main_item .xuanxiang_detail .describe .peisong .peisong_left {
  float: left;
  font-size: 12px;
}
.search .search_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  font-size: 20px;
  background: #02a774;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.search .search_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #fff;
  margin-top: 50px;
}
.search .search_content >input {
  width: 75%;
  height: 30px;
  font-size: 12px;
  outline: none;
  background: #f5f5f5;
  border-radius: 3px;
  margin-right: 10px;
}
.search .search_content >button {
  width: 15%;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  border: 0;
  background: #02a774;
}
.order {
  width: 100%;
  text-align: center;
}
.order .order_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  font-size: 20px;
  background: #02a774;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order .order_content {
  padding-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  color: #808080;
}
.order .order_content >img {
  width: 250px;
  height: 250px;
}
.order .order_content >button {
  color: #fff;
  padding: 10px 10px;
  border: none;
  background: #02a774;
  margin-top: 20px;
  border-radius: 4px;
}
.main_content {
  width: 100%;
  height: 100%;
}
.main_content .profile {
  width: 100%;
  height: 100%;
  position: relative;
}
.main_content .profile .my_header {
  position: relative;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #02a774;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}
.main_content .profile .my_header::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleY(0.5);
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .main_content .profile .my_header::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .main_content .profile .my_header::before {
    transform: scaleY(0.333333);
  }
}
.main_content .profile .login {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  background: #02a774;
  overflow: hidden;
}
.main_content .profile .login .login_left {
  float: left;
  padding: 5px;
  display: flex;
}
.main_content .profile .login .login_left .login_avatar {
  display: inline-block;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
}
.main_content .profile .login .login_left .login_avatar .iconfont {
  font-size: 40px;
  border-radius: 20px;
  color: #808080;
}
.main_content .profile .login .login_left .login_name {
  margin-left: 10px;
}
.main_content .profile .login .login_left .login_name .login_register {
  display: inline-block;
  padding-top: -5px;
}
.main_content .profile .login .login_left .login_name .login_register >a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.main_content .profile .login .login_left .login_name .login_shouji .iconfont {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  color: #fff;
  margin: 0 -15px;
}
.main_content .profile .login .login_left .login_name .login_shouji >span {
  font-size: 12px;
  color: #fff;
}
.main_content .profile .login .login_right {
  float: right;
}
.main_content .profile .login .login_right .iconfont {
  color: #fff;
  margin-right: 15px;
  font-size: 12px;
}
.main_content .profile .tap {
  padding: 0 10px;
  display: flex;
  font-size: 14px;
  background: #fff;
  position: relative;
}
.main_content .profile .tap::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  transform: scaleY(0.5);
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .main_content .profile .tap::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .main_content .profile .tap::before {
    transform: scaleY(0.333333);
  }
}
.main_content .profile .tap .tap_item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  color: #9e9e9e;
}
.main_content .profile .tap .tap_item :nth-child(1) {
  margin-bottom: 10px;
}
.main_content .profile .tap .tap_yue {
  border-right: 1px solid #ddd;
}
.main_content .profile .tap .tap_yue .number {
  font-size: 25px;
  color: #ffa500;
}
.main_content .profile .tap .tap_yue .number >span {
  font-size: 14px;
  color: #9e9e9e;
}
.main_content .profile .tap .tap_youhui {
  border-right: 1px solid #ddd;
}
.main_content .profile .tap .tap_youhui .number {
  font-size: 25px;
  color: #f00;
}
.main_content .profile .tap .tap_youhui .number >span {
  font-size: 14px;
  color: #9e9e9e;
}
.main_content .profile .tap .tap_jifen .number {
  font-size: 25px;
  color: #9acd32;
}
.main_content .profile .tap .tap_jifen .number >span {
  font-size: 14px;
  color: #9e9e9e;
}
.main_content .profile .list {
  margin: 10px 0;
  background: #fff;
}
.main_content .profile .list >ul {
  margin: 0 10px;
}
.main_content .profile .list >ul >li {
  padding: 10px 0;
}
.main_content .profile .list >ul .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main_content .profile .list >ul .first::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  transform: scaleY(0.5);
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .main_content .profile .list >ul .first::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .main_content .profile .list >ul .first::before {
    transform: scaleY(0.333333);
  }
}
.main_content .profile .list >ul .first .my_order {
  display: flex;
  align-items: center;
}
.main_content .profile .list >ul .first .my_order >span {
  font-size: 25px;
  color: #20b2aa;
}
.main_content .profile .list >ul .first .my_order >a {
  font-size: 14px;
  color: #000;
}
.main_content .profile .list >ul .first .iconfont {
  font-size: 12px;
}
.main_content .profile .list >ul .second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main_content .profile .list >ul .second::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  transform: scaleY(0.5);
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .main_content .profile .list >ul .second::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .main_content .profile .list >ul .second::before {
    transform: scaleY(0.333333);
  }
}
.main_content .profile .list >ul .second .my_order {
  display: flex;
  align-items: center;
}
.main_content .profile .list >ul .second .my_order >span {
  font-size: 25px;
  color: #f00;
}
.main_content .profile .list >ul .second .my_order >a {
  font-size: 14px;
  color: #000;
}
.main_content .profile .list >ul .second .iconfont {
  font-size: 12px;
}
.main_content .profile .list >ul .three {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_content .profile .list >ul .three .my_order {
  display: flex;
  align-items: center;
}
.main_content .profile .list >ul .three .my_order >span {
  font-size: 25px;
  color: #ffa500;
}
.main_content .profile .list >ul .three .my_order >a {
  font-size: 14px;
  color: #000;
}
.main_content .profile .list >ul .three .iconfont {
  font-size: 12px;
}
.main_content .profile .fuwu {
  margin: 10px 0px;
  background: #fff;
}
.main_content .profile .fuwu .four {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_content .profile .fuwu .four .my_order {
  display: flex;
  align-items: center;
}
.main_content .profile .fuwu .four .my_order >span {
  font-size: 25px;
  color: #20b2aa;
}
.main_content .profile .fuwu .four .my_order >a {
  font-size: 14px;
  color: #000;
}
.main_content .profile .fuwu .four .iconfont {
  font-size: 12px;
}
.guigu_waimai {
  width: 100%;
  height: 100%;
  background: #fff;
}
.guigu_waimai .iconfont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  box-sizing: border-box;
  padding: 5px 0 0 5px;
}
.guigu_waimai .guigu_name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.guigu_waimai .guigu_name .guigu-title {
  font-size: 40px;
  font-weight: bold;
  color: #02a774;
  margin-bottom: 25px;
}
.guigu_waimai .guigu_name .guigu_login {
  font-size: 12px;
}
.guigu_waimai .guigu_name .guigu_login >a {
  margin: 0 20px;
  padding-bottom: 3px;
}
.guigu_waimai .guigu_name .guigu_login >a.on {
  color: #02a774;
  border-bottom: 1px solid #02a774;
}
.guigu_waimai .guigu_form {
  width: 80%;
  margin: 10px auto;
}
.guigu_waimai .guigu_form >form {
  text-align: center;
}
.guigu_waimai .guigu_form >form .shoujihao-wrap {
  height: 30px;
  border: 1px solid #ddd;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: #ddd;
  margin-bottom: 10px;
}
.guigu_waimai .guigu_form >form .shoujihao-wrap >input {
  height: 30px;
  font-size: 12px;
}
.guigu_waimai .guigu_form >form .password .flag {
  position: relative;
  border: 1px solid #ddd;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  color: #000;
}
.guigu_waimai .guigu_form >form .password .flag .abc {
  position: absolute;
  left: 1px;
  bottom: 3px;
}
.guigu_waimai .guigu_form >form .password .flag .point {
  position: absolute;
  right: 5px;
  bottom: 3px;
}
.guigu_waimai .guigu_form >form .password .flag .circl {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
}
.guigu_waimai .guigu_form >form .text {
  margin: 10px 0;
}
.guigu_waimai .guigu_form >form .text >p {
  line-height: 16px;
  font-size: 12px;
  color: #ddd;
}
.guigu_waimai .guigu_form >form .text >p >a {
  color: #02a774;
}
.guigu_waimai .guigu_form >form .btn {
  width: 100%;
  height: 40px;
  border: none;
  background: #9acd32;
  color: #fff;
  border-radius: 4px;
}
.guigu_waimai .guigu_form >form >p {
  text-align: center;
  font-size: 12px;
  color: #ddd;
  margin-top: 20px;
}
.footer_guide {
  position: relative;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
}
.footer_guide::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #f00;
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .footer_guide::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .footer_guide::before {
    transform: scaleY(0.333333);
  }
}
.footer_guide .guide_item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  color: #999;
}
.footer_guide .guide_item.on {
  color: #02a774;
}
.footer_guide .guide_item .item_icon {
  margin: 5px 0;
}
.footer_guide .guide_item .item_icon .iconfont {
  font-size: 22px;
}
